autopep8==1.*,>=1.5.7
chess==1.*,>=1.6.1
coverage==5.*,>=5.3.0
dephell==0.*,>=0.8.3
discord.py==1.*,>=1.5.1
docutils==0.*,>=0.17.0
dpytest==0.*,>=0.5.3
googletrans==4.*,>=4.0.0.rc1
jedi==0.*,>=0.18.0
poetry==1.*,>=1.1.8
pylama==7.*,>=7.7.1
requests==2.*,>=2.26.0
sphinx==4.*,>=4.1.2
sympy==1.*,>=1.8.0
toml==0.*,>=0.10.2
